<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <title>BM Digital</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/release.css') }}">
    <script src="{{ url_for('static', filename='js/release.js') }}"></script>
    <link rel="icon" href="{{ url_for('static', filename='img/favicon.png') }}">
</head>
<body>
{% include 'flash_messages.html' %}

<nav class="main-nav">
        <div class="nav-container">
            <!-- Логотип слева -->
            <a href="{{ url_for('client.releases') }}" class="logo-link">
                <img src="{{ url_for('static', filename='img/logo.png') }}" 
                    alt="Логотип" 
                    class="nav-logo">
            </a>

            <!-- Центральное меню -->
            <div class="nav-center">
                <a href="{{ url_for('client.releases') }}" class="nav-btn active">Мои релизы</a>
                <a href="{{ url_for('client.create_release') }}" class="nav-btn">Создать релиз</a>
                <a href="{{ url_for('client.subs') }}" class="nav-btn">Саб аккаунты</a>
            </div>

            <!-- Кнопка выхода справа -->
            <div class="nav-right">
                <a href="{{ url_for('auth.logout') }}" class="nav-btn logout">Выйти</a>
            </div>
        </div>
    </nav>
<h1 class="page-title">{{release.title}}</h1>
<div class="container">

    <div class="tabs">
        <div id="release-tab" class="tab active" onclick="showTab('release')">Информация о релизе</div>
        <div id="tracks-tab" class="tab" onclick="showTab('tracks')">Трек-лист</div>
        {% if release.status == 2 or release.status == 3 or release.status == 4%}
        <div id="promo-tab" class="tab" onclick="showTab('promo')">Промо</div>
        <div id="video-tab" class="tab" onclick="showTab('video')">Видеошот</div>
        <div id="prodby-tab" class="tab" onclick="showTab('prodby')">Prod by</div>
        <div id="edit-tab" class="tab" onclick="showTab('edit')">Изменить</div>
        {% endif %}
        {% if release.status == 0 or release.status == 1 %}
        <div id="delete-tab" class="tab" onclick="showTab('delete')">Удалить</div>
        {% endif %}
    </div>
    
    <div id="release-content" class="tab-content active">
        <div class="cover-upload">
            <label for="cover-file">
                {% if release.cover_path %}
                    <img src="{{ url_for('client.uploaded_file', filename=release.cover_path) }}" alt="Обложка" class="cover">
                {% else %}
                    <img src="{{ url_for('static', filename='img/placeholder.png') }}" alt="Без обложки" class="cover">
                {% endif %}
            </label>
        </div>
        
        <p><strong>Версия:</strong> {{ release.version or "Не указана" }}</p>
        <p><strong>Артисты:</strong> {{ release.main_artists or "-" }}</p>
        <p><strong>Доп Артисты:</strong> {{ release.featured_artists or "-" }}</p>
        <p><strong>Жанр:</strong> {{ release.genre or "Не указан" }}</p>
        <p><strong>Тип:</strong> {{ release.release_type or "Не указан" }}</p>
        <p><strong>Дата релиза:</strong> {{ release.release_date or "Не указана" }}</p>
        <p><strong>Копирайт:</strong> {{ release.copyright or "-" }}</p>
        <p><strong>UPC:</strong> {{ release.upc or "-" }}</p>
        <p><strong>Статус:</strong>
            {% if release.status == 0 %}
                Отклонен
            {% elif release.status == 1 %}
                На рассмотрении
            {% elif release.status == 2 %}
                Одобрен
            {% elif release.status == 3 %}
                Опубликован
            {% elif release.status == 4 %}
                На редактировании
            {% endif %}
        </p>
        <p><strong>Комментарий:</strong> {{ release.comment or "-"}}</p>
        <p><strong>Ответ:</strong> {{ release.answer or "-"}}</p>
    </div>

    <div id="tracks-content" class="tab-content">
        <div id="tracks">
        {% for track_field in release.tracks %}
            <div class="track-card" id="track-{{ loop.index0 }}">
                <div class="track-header">
                    <strong>{{track_field.title}}</strong>
                    <div>
                        <button type="button" class="btn small" id="toggle-button-{{ loop.index0 }}" onclick="toggleTrackBody({{ loop.index0 }})">Свернуть</button>
                    </div>
                </div>
                <div class="track-body active" id="track-body-{{ loop.index0 }}">
                    <p>Название: {{track_field.title}}</p>
                    <p>Версия: {{track_field.version or "Не указана"}}</p>
                    <p>Основные артисты: {{track_field.main_artists}}</p>
                    <p>Дополнительные артисты: {{track_field.featured_artists or "Не указаны"}}</p>
                    <p>Автор: {{track_field.author or "Не указан"}}</p>
                    <p>Композитор: {{track_field.composer}}</p>
                    <p>TikTok старт (сек): {{track_field.tiktok_start}}</p>
                    <p>ISRC: {{track_field.isrc  or "Не указан"}}</p>
                    <p>Ненормативная лексика: {{ "Да" if track_field.explicit else "Нет" }}</p>
                    <p>Аудио (WAV): 
                    {% if track_field.audio_path %}
                        <a href="{{ url_for('client.uploaded_file', filename=track_field.audio_path) }}" target="_blank">Слушать</a>
                    {% else %}
                        не загружен
                    {% endif %}</p>
                    <p>PDF: 
                    {% if track_field.pdf_path %}
                        <a href="{{ url_for('client.uploaded_file', filename=track_field.pdf_path) }}" target="_blank">PDF</a>
                    {% else %}
                        не загружен
                    {% endif %}</p>
                </div>
            </div>
            <script>trackCount++;</script>
        {% else %}
            Нет треков в этом релизе
        {% endfor %}
        </div>
    </div>

    {% if release.status == 2 or release.status == 3 or release.status == 4%}
        <div id="promo-content" class="tab-content">
            <h1>Добавить промо</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ promo_form.hidden_tag() }}

                {% for field in promo_form if field.name not in ['csrf_token', 'submit'] %}
                    <p>{{ field.label }}<br>{{ field() }}
                {% endfor %}

                <br>
                {{ promo_form.submit(class_="btn") }}
            </form>
        </div>

        <div id="video-content" class="tab-content">
            <h1>Добавить видеошот</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ video_form.hidden_tag() }}

                {% for field in video_form  if field.name not in ['csrf_token', 'submit'] %}
                    <p>{{ field.label }}<br>{{ field() }}
                {% endfor %}
                <p>
                    Требования к видео:<br>
                    - Формат: MP4, H.264<br>
                    - Размер: 720p (404x720), вертикальный<br>
                    - Длительность: до 15 секунд<br>
                </p>

                <br>
                {{ video_form.submit(class_="btn") }}
            </form>
        </div>

        <div id="edit-content" class="tab-content">
            <h1>Редактировать</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ edit_form.hidden_tag() }}

                {% for field in edit_form if field.name not in ['csrf_token', 'submit'] %}
                    <p>{{ field.label }}<br>{{ field() }}
                {% endfor %}

                <br>
                {{ edit_form.submit(class_="btn") }}
            </form>
        </div>

        <div id="prodby-content" class="tab-content">
            <h1>Prod by</h1>
            <form method="POST" enctype="multipart/form-data">
                {{ prodby_form.hidden_tag() }}

                {% for field in prodby_form if field.name not in ['csrf_token', 'submit'] %}
                    <p>{{ field.label }}<br>{{ field() }}
                {% endfor %}

                <br>
                {{ prodby_form.submit(class_="btn") }}
            </form>
        </div>
    {% endif %}

    {% if release.status == 0 or release.status == 1 %}
        <div id="delete-content" class="tab-content">
            <h1>Удалить релиз?</h1>
            <form action="{{ url_for('client.delete_release', release_id=release.id) }}" method="post">
                <button type="submit" class="btn red"  onclick="return confirm('Удалить этот релиз?')">Удалить релиз</button>
            </form>
        </div>
    {% endif %}
</div>
</body>
</html>
