<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактирование релиза</title>
    <link rel="stylesheet" href="/static/css/upload.css">
</head>
<body>

    <h1>Редактирование релиза</h1>
    <form method="POST" action="/">
        {{ release_form.hidden_tag() }}
        <label>{{ release_form.title.label }}</label>
        {{ release_form.title() }} <br>

        <label>{{ release_form.version.label }}</label>
        {{ release_form.version() }} <br>

        <label>{{ release_form.artists.label }}</label>
        {{ release_form.artists() }} <br>

        <label>{{ release_form.release_type.label }}</label>
        {{ release_form.release_type() }} <br>

        <label>{{ release_form.genre.label }}</label>
        {{ release_form.genre() }} <br>

        <label>{{ release_form.release_date.label }}</label>
        {{ release_form.release_date() }} <br>

        <label>{{ release_form.preorder_date.label }}</label>
        {{ release_form.preorder_date() }} <br>

        <label>{{ release_form.label.label }}</label>
        {{ release_form.label() }} <br>

        <button type="submit">Сохранить релиз</button>
    </form>

    <br>
    <!-- Кнопка для открытия модального окна -->
    <button id="openModal">Новый трек</button>

    <!-- Модальное окно -->
    <div id="trackModal" class="modal">
        <div class="modal-content">
            <span class="close" id="closeModal">&times;</span>
            <h2>Добавить новый трек</h2>
            <form id="trackForm" method="POST">
                {{ track_form.hidden_tag() }}

                <label>{{ track_form.track_title.label }}</label>
                {{ track_form.track_title() }} <br>
            
                <label>{{ track_form.version.label }}</label>
                {{ track_form.version() }} <br>
            
                <label>{{ track_form.artists.label }}</label>
                {{ track_form.artists() }} <br>
            
                <label>{{ track_form.composer.label }}</label>
                {{ track_form.composer() }} <br>
            
                <label>{{ track_form.authors.label }}</label>
                {{ track_form.authors() }} <br>
            
                <label>{{ track_form.explicit.label }}</label>
                {{ track_form.explicit() }} <br>
            
                <label>{{ track_form.wav_file.label }}</label>
                {{ track_form.wav_file() }} <br>
            
                <label>{{ track_form.lyrics.label }}</label>
                {{ track_form.lyrics() }} <br>
            
                <button type="submit">Добавить трек</button>
            </form>
        </div>
    </div>

    <h2>Трек-лист</h2>
    <ul id="trackList">
        {% for track in track_list %}
            <li>{{ track.title }} - {{ track.artists }}</li>
        {% endfor %}
    </ul>

    <script src="/static/js/upload.js"></script>
</body>
</html>
